:root {
    --base: #1a1b26;
    --mantle: #232532;
    --crust: #13141c;

    --text: #ffff;
    --subtext0: #a6accd;
    --subtext1: #b0b0c5;

    --surface0: #2a273f;
    --surface1: #3b3c4d;
    --surface2: #4e4e5d;

    --overlay0: #5b5b7f;
    --overlay1: #6e6e8c;
    --overlay2: #8282a0;

    --blue: #89b4fa; 
    --lavender: #b4befe; 
    --sapphire: #74c7ec; 
    --sky: #89dceb; 
    --teal: #94e2d5; 
    --green: #a6e3a1; 
    --yellow: #f9e2af; 
    --peach: #fab387; 
    --maroon: #eba0ac; 
    --red: #f38ba8; 
    --mauve: #cba6f7; 
    --pink: #f5c2e7; 
    --flamingo: #f2cdcd; 
    --rosewater: #f5e0dc;
}
